## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.rsuser
*.vspscc
*.vssscc

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## Logs
*.log

## Misc
nul
